llama-index
llama-index-llms-huggingface
llama-index-embeddings-fastembed
fastembed
Unstructured[md]
qdrant-client
llama-index-vector-stores-qdrant
einops
accelerate
sentence-transformers
transformers
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-legacy
